@mixin font($font_name, $file_name, $weight, $style) {

@font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff");
    font-weight: #{$weight};
    font-style: #{$style};
    }
    }

@import 'normalize';
@import 'fonts';
@import '_vars';

html{
    box-sizing: border-box;
}
*,
*::after,
*::before{
    box-sizing: inherit;
}
body{
    font-family: 'Roboto', sans-serif;
}
html, body {
    height: 100%;
}
.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.content{
    flex: 1 0 auto;
}
.footer{
    flex: 0 0 auto;
    background-color: $text;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;  
    min-height: 100%;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}
.title{
    color: $text;
    font-size: 48px;
    text-align: center;
}
//start header
.header{
    min-height: 700px;
}
.header_inner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 45px;
    a{
        position: relative;
    }
}
.logo_link{
    width: 40px;
    height: 32px;
    margin-left: 15px;
    color: #27aa5e;
    position: absolute;
    left: -25px;
    top: -2px;
}
.logo_title{
    margin-left: 44px;
    text-transform: uppercase;
    color: #fff;
    font-size: 24px;
    // display: inline-block;
}
.menu_list {
    display: flex;
    margin-left: 300px;
    margin-right: 15px;
    justify-content: space-between;
    font-size: 18px;
    &-item{
        color: #fff;
    }
}
.menu_item {
    list-style: none;
    margin-right: 41px;
}
.header_slider{
    text-align: center;
    margin-top: 150px;
    
}
.slider-title{
    font-size: 68px;
    color: #fff;
    margin-bottom: 30px;
}
.slider-text{
    font-size: 24px;
    color: #fff;
    margin-bottom: 60px;
}
.slider-btn{
    background-color: $green;
    border-radius: 35px;
    width: 165px;
    height: 57px;
    color: #fff;
    border: none;
    outline: none;
    font-size: 24px;
    margin-bottom: 150px;
}
.header_slider{
    .slick-dots{
    text-align: center;
        li{
        &.slick-active{
            button{
            background-color: $green;
            border: none;
            }
            &:before{
                display: none;
                }
            }
        button{
            border-radius: 50%;
            border: 3px solid #fff;
            outline: none;
            font-size: 0;
            width: 23px;
            height: 23px;
            &:before{
                display: none;
            }
            }
        }
    }
}
//end header
//start education
.education{
    margin-top: 60px;
    margin-bottom: 60px;
    .container{
    display: flex;
    align-items: center;
}
&_img {
    background-image: url(../img/education/edu.png);
    width: 553px;
    height: 553px;
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
}
&_inner{
    margin-left: 128px;
    width: 460px;
}
&_text{
    margin-bottom: 88px;
    
    h2{
    font-size: 36px;
}
    span{
        font-family: "Montserrat", sans-serif;
        font-size: 18px;
    }
}
&_items{
    font-size: 30px;
    li{
        list-style: none;
        margin-bottom: 60px;
    }
}
}
.education_items li{
    padding-left: 45px;
    position: relative;
}
.education_item-learn::before {
    content: '';
    background-image: url(../img/education/learn.png);
    width: 40px;
    height: 40px;
    background-position: left;
    background-size: 90%;
    background-repeat: no-repeat;
    position: absolute;
    left: -15px;
    top: -10px;
}
.education_item-talk::before {
    content: '';
    background-image: url(../img/education/talk.png);
    width: 40px;
    height: 40px;
    background-position: left;
    background-size: 90%;
    background-repeat: no-repeat;
    position: absolute;
    left: -15px;
    top: -10px;
}
.education_item-speak::before {
    content: '';
    background-image: url(../img/education/speak.png);
    width: 40px;
    height: 40px;
    background-position: left;
    background-size: 90%;
    background-repeat: no-repeat;
    position: absolute;
    left: -15px;
    top: -10px;
}
//end education
//start features
.features{
    background-color: $bg;
    padding: 85px 0;
}
.features_title{
    margin-bottom: 64px;
}
.features_inner{
    display: flex;
    justify-content: space-between;
}
.features_item{
    max-width: 315px;
    text-align: center;
    padding: 0 40px;
    &-images{
        width: 150px;
        height: 150px;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 30px;
    }
    &-title{
        margin-bottom: 33px;
        font-size: 30px;
        color: $text;
        font-weight: 400;
    }
    &-text{
        font-family: "Montserrat", sans-serif;
        font-size: 18px;
    }
}
//end features
//start courses
.courses{
    background-color: #fff;
    padding: 80px 0 117px;
}
.courses_title{
    margin-bottom: 65px;
}
.courses_inner{
    display: flex;
    justify-content: space-between;
}
.courses_item{
    max-width: 360px;
    text-align: center;
    background-color: $bg;
    &-images{
        height: 245px;
        padding: 0;
        margin-bottom: 40px;
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    &-title{
        margin-bottom: 38px;
        font-size: 30px;
        color: $text;
        font-weight: 400;
        text-align: left;
        padding-left: 30px;
    }
    &-text{
        font-family: "Montserrat", sans-serif;
        font-size: 18px;
        text-align: left;
        color: #484848;
        border-bottom: 1px solid #cfcfcf;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 50px;
    }
    &-time{
        font-size: 24px;
        padding-bottom: 20px;
        padding-top: 30px;
        border-bottom: 1px solid #cfcfcf;
        text-align: center;
        width: 235px;
        display: inline-block;
    }
    &-btn{
        margin-top: 50px;
        margin-bottom: 27px;
        width: 275px;
        height: 50px;
        background-color: $green;
        border-radius: 35px;
        color: #fff;
        font-size: 24px;
        border: none;
        outline: none;
    }
}
//end courses
//start teachers
.teachers{
    background-color: $bg;
    padding: 80px 0 115px;
}
.teachers_title{
    margin-bottom: 60px;
}
.teachers_inner{
    display: flex;
    justify-content: space-between;
}
.teachers_item-inner{
    display: inline-block;
    margin-left: 20px;
}
.teachers_item{
    max-width: 360px;
    text-align: center;
    padding: 0 15px 0 30px;
    display: flex;
    &-images{
        img{
        width: 97px;
        height: 97px;
        background-color: #fff;
        border-radius: 50%;
        margin: 0 auto 30px;}
    }
    &-title{
        margin-bottom: 13px;
        font-size: 24px;
        color: $text;
        font-weight: 400;
    }
    &-text{
        font-family: "Montserrat", sans-serif;
        font-size: 22px;
        color: $green;
    }
}
//end teachers
//start programs
.programs{
    background-color: #fff;
    padding: 73px 0 94px;
}
.programs_title{
    margin-bottom: 50px;
}
.programs_inner{
    display: flex;
    justify-content: space-between;
}
.programs_item{
    width: 360px;
    height: 360px;
    text-align: center;
    padding: 0 35px;
    &-title{
        margin-top: 130px;
        margin-bottom: 20px;
        font-size: 30px;
        color: #fff;
        font-weight: 400;
    }
    &-text{
        font-family: "Montserrat", sans-serif;
        font-size: 18px;
        color: #fff;
        margin-bottom: 123px;
    }
}
//end programs
//start rewiews
.rewiews{
    background-color: $bg;
    padding: 81px 0;
}
.rewiews_title{
    margin-bottom: 58px;
}
.rewiews_slider{
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    .slick-arrow{
        width: 24px;
        height: 47px;
    }
    .prev .slick-arrow{
        position: absolute;
        top: 100px;
    right: 75px;
    }
}
.rewiews_slider-item{
    text-align: center;
    padding: 0 40px;
    margin: 0 40px;
}
.rewiews_slider-image{
    img{
    width: 120px;
    height: 120px;
    background-color: #000;
    border-radius: 50%;
    margin: 0 auto 30px;
    }
    }
.rewiews_slider-text{
    margin-bottom: 70px;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}
.rewiews_slider-name{
    font-size: 30px;
    margin-bottom: 20px;
}
.rewiews_slider-job{
    font-size: 24px;
}
//end rewiews
//start feedback
.feedback{
    background-color: #fff;
    padding: 83px 0;
}
.feedback_title{
    margin-bottom: 60px;
}
.feedback_inner{
    display: flex;
    justify-content: space-between;
    
}
.feedback_form{
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-right: 15px;
    font-size: 18px;
    input{
        padding-bottom: 20px;
        width: 100%;
        outline: none;
        border: none;
        &+input{
            margin-top: 40px;
        }
    }
    #form{
        border-bottom: 2px solid #d1d1d1;
    }
    #message{
        border: 2px solid #d1d1d1;
        padding-left: 20px;
        height: 187px;
        padding-top: 20px;
        margin-top: 45px;

    }
}
.feedback_btn{  
    background-color: $green;
    border-radius: 35px;
    width: 165px;
    height: 65px;
    color: #fff;
    border: none;
    outline: none;
    font-size: 24px;
    margin-top: 40px;
}
.feedback_contact{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
}
.feedback_contact-item{
    display: flex;
    justify-content: space-evenly;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    margin-top: 77px;
    flex-direction: column;
    padding-left: 100px;
    a{
    color: $text;}
}
.feedback_map{
    margin-left: 15px;
    background-image: url(../img/contact/map.png);
    height: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.phone{
    position: relative;
    margin-bottom: 30px;
    &::before {
    content: '';
    background-image: url(../img/contact/tel.png);
    width: 27px;
    height: 27px;
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: -7px;
    left: -40px;
}
}
.mail {
    position: relative;
    &::before{
    content: '';
    background-image: url(../img/contact/mail.png);
    width: 30px;
    height: 30px;
    background-position: left;
    background-size: 90%;
    background-repeat: no-repeat;
    position: absolute;
    top: -7px;
    left: -40px;
}}
//end feedback
//start footer
.footer{
    height: 100px;
}
.footer_inner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 23px;
    position: relative;
}
.menu_btn{
    display: none;
}
.courses_double {
    display: none;
}
@media (max-width: 1125px){
    .courses_item {
        max-width: 345px;
    }
    .programs_item {
        width: 350px;
        height: 350px;
    }
}
@media (max-width: 1095px) {
    .menu_list {
        margin-left: 235px;}
    .programs_item {
        width: 340px;
        height: 340px;}
}
@media (max-width: 1085px){
    .courses_item {
        max-width: 330px;
    }
    .programs_item {
        width: 345px;
        height: 345px;
    }
}
@media (max-width: 1075px){
    .programs_item {
        width: 335px;
        height: 335px;
    }
}
@media (max-width: 1050px){
    .container{
        padding: 0 25px;
    }
    .header_inner {
        position: relative;
        padding-top: 35px;
    }
    .logo_link{
        position: absolute;
        left: -40px;
        top: -5px;
        height: 30px;
        width: 40px;
    }
    .logo_title{
        margin-left: 30px;
        font-size: 20px;
    } 
    .menu_list {
            margin-left: 270px;
            margin-right: 10px;
            font-size: 15px;
        }
    .education_inner {
            margin-left: 40px;
            width: 440px;
        }
    .courses_item {
        max-width: 310px;
    }
    .programs_item {
        width: 320px;
        height: 320px;
    }
    
}
@media (max-width: 1035px){
    .programs_item {
        width: 300px;
        height: 300px;
    }
    .logo_title{
        margin-left: 45px;}
    .programs_item-title {
        margin-top: 90px;}
}
@media (max-width: 1010px){
    .menu_item {
        margin-right: 30px;
    }
    .education_inner {
        margin-left: 65px;
    }
}
@media (max-width: 995px){
.courses_item {
    max-width: 300px;}
}
@media (max-width: 965px) {
    .menu_list {
        margin-left: 245px;
    }
    .header_slider {
        margin-top: 185px;
    }
    .slider-title {
        font-size: 66px;
        margin-bottom: 25px;
    }
    .title {
        font-size: 40px;
    }
    .education_text h2 {
        font-size: 32px;
    }
    .education_text span {
        font-size: 16px;
    }
    .education_items {
        font-size: 22px;
    }
    .education_img {
        height: 490px;}
    .courses {
        padding: 40px 0 55px;
    }
    .courses_title {
        margin-bottom: 30px;
    }
    .courses_item {
        max-width: 280px;
        &-btn{
            width: 230px;
            height: 45px;
            font-size: 20px;
            margin-top: 40px;
    }
        &-title{
            margin-bottom: 20px;
            font-size: 27px;
    }
        &-text{
            font-size: 16px;
        }
        &-time{
            font-size: 22px;
            padding-top: 20px;
        }
    }
    .programs {
        padding: 55px 0 80px;
    }
    .programs_title {
        margin-bottom: 35px;
    }
    .programs_item {
        width: 285px;
        height: 285px;
    }
    .programs_item-title {
        margin-top: 80px;
        font-size: 28px;
    }
    .programs_item-text {
        font-size: 16px;
    }
    .rewiews {
        padding: 55px 0;
    }
    .rewiews_title {
        margin-bottom: 35px;
    }
    .rewiews_slider-text {
        margin-bottom: 40px;
        font-size: 17px;
    }
    .rewiews_slider-name {
        font-size: 28px;
        margin-bottom: 16px;
    }
    .rewiews_slider-job {
        font-size: 22px;
    }
    .feedback_form input + input {
        margin-top: 25px;
    }
    .feedback_form #message {
        margin-top: 30px;
    }
    .feedback_btn {
        width: 140px;
        height: 50px;
        font-size: 22px;
        margin-top: 30px;
    }
    .feedback_contact-item {
        font-size: 16px;
    }
    .footer .menu_list {
        margin-left: 220px;
    }
}
@media (max-width: 940px){
    .menu_list {
        margin-left: 200px;
    }
    .features_item-images {
        width: 125px;
        height: 125px;
    }
    .features_item-title {
        font-size: 26px;
    }
    .features_item-text {
        font-size: 14px;
    }
}
@media (max-width: 920px){
    .programs_item {
        width: 270px;
        height: 270px;
    }
}
@media (max-width: 910px){
    .courses_item {
        max-width: 270px;}
}
@media (max-width: 895px){
    .menu_list {
        margin-left: 180px;
    }
    .education_img {
        height: 450px;}
    .education_text {
        margin-bottom: 55px;
    }
    .programs_item {
        width: 250px;
        height: 250px;
    }
}
@media (max-width: 875px){
    .menu_list {
        margin-left: 130px;
    }
    .title {
        font-size: 42px;
    }
    .education {
        margin: 25px 0;
    }
    .education_inner {
        margin-left: 50px;
    }
    .education_text {
        margin-bottom: 70px;
    }
    .education_text h2 {
        font-size: 32px;
    }
    .education_text span {
        font-size: 16px;
    }
    .education_items {
        font-size: 25px;
    }
    .features {
        padding: 60px 0;
    }
    .features_title {
        margin-bottom: 40px;
    }
    .features_item {
        padding: 0 20px;
    }
    .features_item-images {
        width: 120px;
        height: 120px;
    }
    .features_item-title {
        font-size: 27px;
    }
    .features_item-text {
        font-size: 15px;
    }
    .courses_item {
        max-width: 255px;
    }
    .courses_item-btn {
        width: 205px;
    }
    .teachers {
        padding: 60px 0 80px;
    }
    .teachers_item-images img {
        width: 90px;
        height: 90px;
    }
    .teachers_item-title {
        font-size: 22px;
    }
    .teachers_item-text {
        font-size: 18px;
    }
    .programs {
        padding: 40px 0 70px;
    }
    .feedback_map {
        height: 250px;}
    .footer .menu_list {
        margin-left: 130px;
    }
}
@media (max-width: 840px){
    .education_items {
        font-size: 20px;
        li {
            margin-bottom: 40px;
        }
    }
    .education_inner {
        margin-left: 60px;
    }
    .education_text {
        margin-bottom: 40px;
    }
    .education_text h2 {
        font-size: 30px;
    }
    .education_text span {
        font-size: 15px;
    }
    .education_img {
        width: 480px;
        height: 380px;}
    .programs_item {
        width: 250px;
        height: 250px;
    }
    .courses_item {
        max-width: 245px;
    }
    .footer .menu_item {
        margin-right: 25px;
    }
}
@media (max-width: 830px){
    .menu_list {
        margin-left: 105px;
    }
    .courses_item {
        max-width: 240px;
    }
    .courses_item-images {
        height: 200px;}
}
@media (max-width: 800px){
    .header_inner{
        justify-content: space-between;
    }
    .logo_link {
        left: -20px;
        top: -5px;
    }
    .menu{
        order: 1;
    }
    .menu_list{
        display: block;
        position: absolute;
        top: 55px;
        left: 0;
        right: 0;
        background-color: $text;
        z-index: 10;
        text-align: center;
        padding: 20px 0;
        transform: translateY(-500px);
        transition: all 0.5s;
        margin-left: 15px;
    }
    .menu_list-item {
        padding: 15px 0;
        display: block;
        border-bottom: 1px solid #252525;
    }
    .menu_btn {
        display: block;
        cursor: pointer;
        width: 35px;
        height: 30px;
        border: none;
        border-top: 4px solid #fefefe;
        border-bottom: 4px solid #fefefe;
        background-color: transparent;
        position: relative;
        outline: none;
        &::before{
            content: "";
        position: absolute;
        width: 35px;
        height: 4px;
        background-color: #fefefe;
        left: 0;
        top: 9px;
        }
    }
    .menu_list.menu_list--active {
        transform: translateY(0);
    }
    .slider-title {
        font-size: 60px;}
    .slider-text {
        font-size: 19px;}
    .slider-btn {
        margin-bottom: 160px;
    }
    .title {
        font-size: 38px;
    }
    .courses_item {
        max-width: 230px;
    }
    .courses_item-images {
        height: 200px;
        margin-bottom: 25px;
    }
    .courses_item-title {
        font-size: 25px;
    }
    .courses_item-text {
        font-size: 14px;
    }
    .courses_item-time {
        font-size: 20px;
        width: 220px;
    }
    .courses_item-btn {
        width: 195px;
    }
    .teachers_item-images img {
        width: 80px;
        height: 80px;
    }
    .teachers_item-inner {
        margin-left: 0px;
    }
    .teachers_item {
        padding: 0 15px 0 15px;
    }
    .programs_item {
        width: 225px;
        height: 225px;
    }
    .programs_item-title {
        margin-top: 35px;
        font-size: 24px;
    }
    .programs_item-text {
        font-size: 15px;
    }
    .feedback {
        padding: 45px 0;
    }
    .feedback_form input {
        padding-bottom: 10px;}
    .feedback_form #message {
        padding: 15px 0 0 15px;}
    .feedback_contact-item{
        font-size: 15px;
        padding-left: 95px;
    }
    .phone{
        &::before {
        width: 20px;
        height: 20px;
        top: -2px;
        left: -34px;
    }
    }
    .mail {
        &::before{
        width: 25px;
        height: 20px;
        top: -2px;
        left: -34px;
    }}
    .footer {
        .menu{
            display: none;
        }
    }
    .footer_inner {
        padding-top: 32px;
    }
}
@media (max-width: 760px){
.courses_item {
    max-width: 215px;}
.courses_item-images {
        height: 175px;}
}
@media (max-width: 740px){
    .logo_title {
        font-size: 18px;
    }
    .slider-title {
        font-size: 52px;
    }
    .slider-text {
        font-size: 19px;
    }
    .slider-btn {
        width: 160px;
        height: 50px;
        font-size: 20px;
        margin-bottom: 170px;
    }
    .education .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .education_inner {
        margin-left: 10px;
    }
    .education_img {
        width: 490px;
        height: 490px;}
    .courses_inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .courses_item {
        max-width: 366px;
        margin-bottom: 30px;
    }
    .programs {
        padding: 40px 0 35px;
    }
    .programs_inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .programs_item {
        width: 360px;
        height: 360px;
        margin-bottom: 30px;
    }
    .programs_item-title {
        margin-top: 125px;
        font-size: 27px;
    }
    .feedback_inner {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        align-items: center;
    }
    .feedback_title {
        margin-bottom: 20px;
    }
    .feedback_form {
        align-items: center;
    }
    .feedback_map {
        display: none;
    }
    .feedback_form #message {
        width: 100%;
    }
    .feedback_contact-item {
        padding: 0;
        margin: 25px 0 50px 60px;
    }
    }
@media (max-width: 660px){
    .feedback_form {
        width: auto;
    }
    .feedback_contact {
        width: auto;
    }
    .feedback_contact-item {
        margin: 25px 0 50px 40px;
    }
}   
@media (max-width: 650px) {
    .slider-title {
        font-size: 42px;
    }
    .slider-text {
        font-size: 17px;
    }
    .teachers {
        padding: 40px 0 10px;
    }
    .teachers_inner {
        flex-direction: column;
        align-items: center;
    }
    .teachers_item {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }
    .features_inner {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .features_item {
        margin-bottom: 50px;
        max-width: 100%;
    }
    .rewiews_slider-name,
    .rewiews_slider-job {
        display: none;}
    .feedback_btn {
        width: 155px;}
}
@media (max-width: 570px) {
    .title {
        font-size: 36px;
    }
    .rewiews_slider-item {
        padding: 0 15px;
    }
}
@media (max-width: 478px) {
    .logo_title {
        font-size: 16px;
    }
    .header_slider {
        margin-top: 145px;
            
    }
    .header_slider{
        #slick-slide-control00, #slick-slide-control01{
            display: none;
        }
    }
    .slider-title {
        font-size: 40px;
    }
    .slider-btn {
        margin-bottom: 210px;
    }
    .education_img {
        height: 330px;
    }
    .courses{
        display: none;}
    .courses_double{
        display: block;
        background-color: #fff;
        padding: 0;
            
        }
    .container{
        max-width: 360px;
    }
    .courses_title{
        margin-bottom: 30px;
    }
    .courses_item{
            text-align: center;
            background-color: $bg;
            margin-right: 0;
            &-images{
                height: 245px;
                padding: 0;
                margin-bottom: 40px;
                background-position: top center;
                background-size: cover;
                background-repeat: no-repeat;
            }
            &-title{
                margin-bottom: 27px;
                font-size: 24px;
                color: $text;
                font-weight: 400;
                text-align: left;
                padding-left: 30px;
            }
            &-text{
                font-family: "Montserrat", sans-serif;
                font-size: 14px;
                text-align: left;
                color: #484848;
                border-bottom: 1px solid #cfcfcf;
                padding-bottom: 30px;
                padding-left: 30px;
                padding-right: 50px;
            }
            &-time{
                font-size: 20px;
                padding-bottom: 20px;
                padding-top: 30px;
                border-bottom: 1px solid #cfcfcf;
                text-align: center;
                width: 235px;
                display: inline-block;
            }
            &-btn{
                margin-top: 40px;
                margin-bottom: 27px;
                width: 240px;
                height: 50px;
                background-color: $green;
                border-radius: 35px;
                color: #fff;
                font-size: 18px;
                border: none;
                outline: none;
            }
        }
        #slick-slide-control20, #slick-slide-control21, #slick-slide-control22 {
            display: none;
        }
    .rewiews {
        display: none;
    }
    .features_item-images {
        width: 140px;
        height: 140px;
    }
}
@media (max-width: 460px) {
    .slider-btn {
        margin-bottom: 175px;
    }
}
@media (max-width: 435px) {
    .logo_link {
        top: -10px;
    }
    .education_img {
        width: 370px;
        height: 370px;
    }
    .education_text span {
        font-size: 14px;
    }
    .education_items {
        font-size: 18px;
        ul{
            padding-left: 15px;
        }
    }
    .education_items li {
        margin-bottom: 48px;
    }
    .features {
        padding: 43px 0;
    }
    .features_item-title {
        font-size: 24px;
    }
    .features_item-images {
        width: 150px;
        height: 150px;
    }
    .features_item-text {
        font-size: 14px;
    }
    .courses_item-title {
        font-size: 24px;
    }
    .courses_item-time {
        font-size: 18px;}
    .courses_item-btn {
        width: 215px;
        height: 40px;
        font-size: 18px;
    }
    .teachers_title {
        margin-bottom: 20px;
    }
    .teachers_item-images img {
        margin: 0 auto 35px;
    }
    .teachers_item {
        margin-bottom: 30px;
    }
    .programs_title {
        margin-bottom: 15px;
    }
    .programs_item-title {
        margin-top: 105px;
        font-size: 24px;
    }
    .programs_item-text {
        font-size: 14px;
    }
    .programs_item {
        width: 280px;
        height: 280px;
    }
    .rewiews {
        padding: 40px 0;
    }
    .rewiews_title {
        margin-bottom: 57px;
    }
    .rewiews_slider-text {
        margin-bottom: 30px;
        font-size: 14px;
    }
    .feedback_title {
        margin-bottom: 20px;
    }
    .feedback_contact-item {
        margin: 25px 0 40px 15px;
    }
    
    .feedback_form #message {
        height: 115px;
    }
}
@media (max-width: 350px){
.feedback_contact-item {
    margin: 25px 0 50px 20px;}
}
