@mixin font($font_name, $file_name, $weight, $style) {

@font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff");
    font-weight: #{$weight};
    font-style: #{$style};
    }
    }

@import 'normalize';
@import 'fonts';

html{
    box-sizing: border-box;
}
*,
*::after,
*::before{
    box-sizing: inherit;
}
body{
    font-family: 'Roboto', sans-serif;
}
html, body {
    height: 100%;
}
.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.content{
    flex: 1 0 auto;
}
.footer{
    flex: 0 0 auto;
    background-color: #1a1a1a;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;  
    min-height: 100%;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}
//start header
.header{
    min-height: 700px;
}
.header_inner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 45px;
}
.logo_link{
    width: 40px;
    height: 32px;
    margin-left: 15px;
    color: #27aa5e;
}
.logo_title{
    margin-left: 44px;
    text-transform: uppercase;
    color: #fff;
    font-size: 24px;
}
.menu_list {
    display: flex;
    margin-left: 300px;
    margin-right: 15px;
    justify-content: space-between;
    font-size: 18px;
    &-item{
        color: #fff;
    }
}
.menu_item {
    list-style: none;
    margin-right: 41px;
}
.header_slider{
    text-align: center;
    margin-top: 200px;
    
}
.slider-title{
    font-size: 68px;
    color: #fff;
    margin-bottom: 30px;
}
.slider-text{
    font-size: 24px;
    color: #fff;
    margin-bottom: 60px;
}
.slider-btn{
    background-color: #27ae60;
    border-radius: 35px;
    width: 165px;
    height: 57px;
    color: #fff;
    border: none;
    outline: none;
    font-size: 24px;
    margin-bottom: 100px;
}
.header_slider{
    .slick-dots{
    text-align: center;
        li{
        &.slick-active{
            button{
            background-color: #27ae60;
            border: none;
            }
            &:before{
                display: none;
                }
            }
        button{
            border-radius: 50%;
            border: 3px solid #fff;
            outline: none;
            font-size: 0;
            width: 23px;
            height: 23px;
            &:before{
                display: none;
            }
            }
        }
    }
}
//end header
//start education
.education{
    margin-top: 60px;
    margin-bottom: 60px;
    .container{
    display: flex;
    align-items: center;
}
&_img {
    background-image: url(../img/edu.png);
    width: 553px;
    height: 553px;
}
img{
    width: 50%;
}
&_inner{
    margin-left: 128px;
    width: 460px;
}
&_text{
    margin-bottom: 88px;
    
    h2{
    font-size: 36px;
}
    span{
        font-family: "Montserrat", sans-serif;
        font-size: 18px;
    }
}
&_items{
    font-size: 30px;
    li{
        list-style: none;
        margin-bottom: 60px;
    }
}
}
.education_items li{
    padding-left: 45px;
    position: relative;
}
.education_item-learn::before {
    content: '';
    background-image: url(../img/learn.png);
    width: 40px;
    height: 40px;
    background-position: left;
    background-size: 90%;
    background-repeat: no-repeat;
    position: absolute;
    left: -15px;
    top: -10px;
}
.education_item-talk::before {
    content: '';
    background-image: url(../img/talk.png);
    width: 40px;
    height: 40px;
    background-position: left;
    background-size: 90%;
    background-repeat: no-repeat;
    position: absolute;
    left: -15px;
    top: -10px;
}
.education_item-speak::before {
    content: '';
    background-image: url(../img/speak.png);
    width: 40px;
    height: 40px;
    background-position: left;
    background-size: 90%;
    background-repeat: no-repeat;
    position: absolute;
    left: -15px;
    top: -10px;
}
//end education
//start features
.features{
    background-color: #f1f1f1;
    padding: 85px 0;
}
.features_title{
    color: #1a1a1a;
    margin-bottom: 64px;
    font-size: 48px;
    text-align: center;
}
.features_inner{
    display: flex;
    justify-content: space-between;
}
.features_item{
    max-width: 315px;
    text-align: center;
    padding: 0 40px;
    &-images{
        width: 150px;
        height: 150px;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 30px;
    }
    &-title{
        margin-bottom: 33px;
        font-size: 30px;
        color: #1a1a1a;
        font-weight: 400;
    }
    &-text{
        font-family: "Montserrat", sans-serif;
        font-size: 18px;
    }
}
//end features
